---
import piano from '../images/piano.jpg';
---

<div class="p-4 ">
    <img src={piano.src} alt="man playing piano">
</div>
<div class="flex flex-row ">
    <div class="bg-white shadow-md transition hover:shadow-xl p-4">
        <h2 class="text-3xl font-semibold">ABOUT ANGELO</h2>
        <h4 class="text-3xl font-semibold">PIANIST &AMP; COMPOSER</h4>
        <p class="text-lg">Pianist and composer, after a long teaching activity that prepared a generation of new musical alents, Angelo devoted
            himself to composition.</p>
        <p class="text-lg">His music, critically acclaimed, is a unique blend of contemporary and classical sounds. With his elegant touch,
            Angelo writes music to create emotions.</p>
    </div>
    
    <iframe src="https://open.spotify.com/embed/artist/7ITIcFJcB4VqctB8SI5YkK" width="100%" height="380" frameBorder="0"
        allowtransparency="true" allow="encrypted-media"></iframe>
</div>